# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

# Ignore Python environments and cache
.venv/
pycache/

# Ignore large AI model files
*.gguf
*.bin
models/

# Ignore sensitive files
*.env
